
<div ng-controller="CustomersController">
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4 class="page-head-line">Customers Report</h4>
					<div class="alert alert-danger" ng-show="showErrorAlert">{{errormsg}}</div>
				</div>

			</div>

			<div class="row">

				<button type="submit" class="btn btn-success" ng-click="download()">Download
					Report</button>
			</div>
			<br>
			<div id="exportable">
				<div class="row">
					<!--    Striped Rows Table  -->
					<div class="panel panel-default">
						<div class="panel-heading">Customers Info</div>
						<form>
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-search"></i>
									</div>
									<input type="text" class="form-control"
										placeholder="Search and Sort Customers Table"
										ng-model="searchTerm">
								</div>
							</div>
						</form>

						<div class="panel-body">
							<div class="table-responsive">

								<table class="table table-striped">

									<tr class="span3">
										<th><a href="#/customers"
											ng-click="sortType = 'first_name'; sortIt = !sortIt">
												First Name <span
												ng-show="sortType == 'first_name' && !sortIt"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'first_name' && sortIt"
												class="fa fa-caret-up"></span>
										</a></th>

										<th><a href="#/customers"
											ng-click="sortType = 'last_name'; sortIt = !sortIt"> Last
												Name <span ng-show="sortType == 'last_name' && !sortIt"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'last_name' && sortIt"
												class="fa fa-caret-up"></span>
										</a></th>
										<th>Street1</th>
										<th>Street2</th>
										<th>City</th>
										<th>State</th>
										<th>Zip</th>
										<th>Email</th>
										<th>Phone</th>
									</tr>

									<tbody ng-repeat="items in customers">
										<tr
											ng-repeat="item in items | orderBy:sortType:sortIt | filter:searchTerm"
											class="span3">
											<td style="text-align: left;">{{item.first_name}}</td>
											<td style="text-align: left;">{{item.last_name}}</td>
											<td style="text-align: left;">{{item.street1}}</td>
											<td style="text-align: left;">{{item.street2}}</td>
											<td style="text-align: left;">{{item.city}}</td>
											<td style="text-align: left;">{{item.state}}</td>
											<td style="text-align: left;">{{item.zip}}</td>
											<td style="text-align: left;">{{item.email}}</td>
											<td style="text-align: left;">{{item.phone}}</td>

										</tr>
									</tbody>
								</table>


							</div>
						</div>
					</div>
					<!--  End  Striped Rows Table  -->
				</div>
			</div>
			<div class="row">

				<button type="submit" class="btn btn-success" ng-click="download()">Download
					Report</button>
			</div>
		</div>
	</div>
</div>
